services:
  ## Nginx Proxy
  proxy:
    container_name: proxy
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/certs.conf:/etc/nginx/certs.conf
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd
      - ./nginx/logs:/var/log/nginx
      - /certificates/:/etc/nginx/certs
    ports:
      - '80:80'
      - '443:443'
    restart: always
    depends_on:
      - backend
      - frontend

  ## Nginx Frontend that serves static files
  frontend:
    container_name: frontend_prod
    image: ghcr.io/thm-graphs/atag-editor-frontend:latest
    restart: always
    depends_on:
      - backend
    ports:
      - '3000:3000'

  ## NodeJS-Express Backend
  backend:
    container_name: backend_prod
    image: ghcr.io/thm-graphs/atag-editor-backend:latest
    # ports:
    #  - '8080:8080'
    restart: always
    volumes:
      - /certificates/:/app/certificates
      - ../logs/:/app/logs
    environment:
      - APP_HOST=${APP_HOST}
      - APP_PORT=${APP_PORT}
      - DATABASE_NAME=${DATABASE_NAME}
      - FAVICON_URL=${FAVICON_URL}
      - GUIDELINES_URL=${GUIDELINES_URL}
      - LOG_LEVEL=${LOG_LEVEL}
      - NEO4J_URI=${NEO4J_URI}
      - NEO4J_USER=${NEO4J_USER}
      - NEO4J_PW=${NEO4J_PW}
      - NODE_ENV=${NODE_ENV}
      - PROTOCOL=${PROTOCOL}
      - STYLESHEET_URL=${STYLESHEET_URL}
