:root {
  --aboveLine-clr: hsl(22, 81%, 35%);
  --addition-color: hsla(38, 78%, 67%, 0.6);
  --addition-opacity: 0.9;
  --addition-transition: var(--addition-opacity) ease-in-out 1s;
  --commentInternal-color: #e3dbcc99;
  --commentInternal-opacity: 0.9;
  --correction-clr: hsl(36, 85%, 76%);
  --correction-opacity: 0.5;
  --deleted-text-decoration: line-through;
  --expansion-clr: hsl(201, 22%, 87%);
  --expansion-opacity: 0.7;
  --gap-text-decoration: underline dotted;
  --head-font-weight: 700;
  --initial-clr: hsl(114, 100%, 37%);
  --intervention-clr: hsl(292, 100%, 62%);
  --marginNote-clr: hsl(34, 100%, 47%);
  --repeated-clr: #cbcbcb;
  --repeated-text-decoration: line-through;
  --rubricated-clr: hsl(0, 76%, 38%);
  --rubricated-font-weight: 700;
  --transposition-clr: #ccc;
  --unclear-clr: hsl(328, 98%, 47%);
}

/* TODO: Improve when rubricated is own subtype */
/* #text > span:has(span.emphasised) {
  font-weight: normal;
  color: unset;
}

#text > span:has(span.emphasised) {
  font-weight: var(--emphasised-font-weight);
  color: var(--emphasised-clr);
} */

#text > span:has(span.emphasised) {
  &:has(.rubricated) {
    font-weight: var(--rubricated-font-weight);
    color: var(--rubricated-clr);
  }

  &:has(.bold) {
    font-weight: bold;
    color: unset;
  }

  &:has(.bold) {
    font-weight: bold;
    color: unset;
  }

  &:has(.initial) {
    color: var(--initial-clr);
    font-weight: bold;
  }

  &:has(.italic) {
    font-style: italic;
  }

  &:has(.smallCaps) {
    text-decoration: dotted underline;
  }

  &:has(.underlined) {
    text-decoration: underline;
  }
}

#text > span:has(span.emphasised:where(.bold, .initial, .italic, .underlined, .smallCaps)) {
  font-weight: normal;
  color: unset;
}

#text > span:has(span.expansion) {
  background-color: var(--expansion-clr);
  opacity: var(--expansion-opacity);
}

#text > span:has(span.nonLinear) {
  &:has(.aboveLine) {
    color: var(--aboveLine-clr);
  }

  &:has(.marginNote) {
    color: var(--marginNote-clr);
  }
}

#text > span:has(span.intervention) {
  color: var(--intervention-clr);
}

/* TODO: This is a hack since there is a annotion type as well as a subtype "correction".
Fix by changing classlists or annotation types? */
#text > span:has(span.correction:not(.intervention)) {
  background-color: var(--correction-clr);
  opacity: var(--correction-opacity);
}

#text > span:has(span.deleted) {
  text-decoration: var(--deleted-text-decoration);
}

#text > span:has(span.unclear) {
  color: var(--unclear-clr);
}

#text > span:has(span.repeated) {
  background-color: var(--repeated-clr);
  text-decoration: var(--repeated-text-decoration);
}

#text > span:has(span.gap) {
  text-decoration: var(--gap-text-decoration);
}

#text > span:has(span.addition) {
  background-color: var(--addition-color);
  opacity: var(--addition-opacity);
  transition: var(--addition-transition);
}

#text > span:has(span.head) {
  font-weight: var(--head-font-weight);
}

#text > span:has(span.commentInternal) {
  background-color: var(--commentInternal-color);
  opacity: var(--commentInternal-opacity);
}

#text > span:has(span.page) {
  /* TODO: Improve styling */
  text-decoration: double underline;
}

#text > span:has(span.column) {
  /* TODO: Improve styling */
  text-decoration: double underline;
}

#text > span:has(span.line) {
  /* TODO: Improve styling */
  text-decoration: double underline;
}

#text > span:has(span.transposition) {
  background-color: var(--transposition-clr);
}
