:root {
  --aboveLine-clr: hsl(22, 81%, 35%);
  --additionLaterHand-color: hsla(91, 59%, 64%, 0.3);
  --commentInternal-color: #e3dbcc99;
  --commentInternal-opacity: 0.9;
  --correction-clr: hsla(36, 85%, 76%, 0.6);
  --deleted-text-decoration: line-through;
  --deleted-clr: hsl(0, 0%, 44%);
  --expansion-clr: hsl(201, 22%, 87%);
  --expansion-opacity: 0.7;
  --gap-text-decoration: underline dotted;
  --head-font-weight: 700;
  --initial-clr: hsl(114, 100%, 37%);
  --intervention-clr: hsl(292, 100%, 80%);
  --marginNote-clr: hsl(34, 100%, 47%);
  --repeated-clr: #cbcbcb;
  --repeated-text-decoration: line-through;
  --rubricated-clr: hsl(0, 76%, 38%);
  --rubricated-font-weight: 700;
  --sic-clr: hsl(130, 99%, 29%);
  --transposition-clr: #ccc;
  --unclear-clr: hsl(328, 98%, 47%);
}

/* -------- TEXT ------------------------------------------------------------------------------------------------------------ */

#text > span:has(span.emphasised) {
  &:has(.rubricated) {
    font-weight: var(--rubricated-font-weight);
    color: var(--rubricated-clr);
  }

  &:has(.bold) {
    font-weight: bold;
    color: unset;
  }

  &:has(.bold) {
    font-weight: bold;
    color: unset;
  }

  &:has(.initial) {
    color: var(--initial-clr);
    font-weight: bold;
  }

  &:has(.italic) {
    font-style: italic;
  }

  &:has(.smallCaps) {
    text-decoration: dotted underline;
  }

  &:has(.underlined) {
    text-decoration: underline;
  }
}

#text > span:has(span.emphasised:where(.bold, .initial, .italic, .underlined, .smallCaps)) {
  font-weight: normal;
  color: unset;
}

#text > span:has(span.expansion) {
  background-color: var(--expansion-clr);
  opacity: var(--expansion-opacity);
}

#text > span:has(span.nonLinear) {
  &:has(.aboveLine) {
    color: var(--aboveLine-clr);
  }

  &:has(.marginNote) {
    color: var(--marginNote-clr);
  }
}

#text > span:has(span.intervention) {
  background-color: var(--intervention-clr);
}

/* TODO: This is a hack since there is a annotion type as well as a subtype "correction".
Fix by changing classlists or annotation types? */
#text > span:has(span.correction:not(.intervention)) {
  background-color: var(--correction-clr);
}

#text > span:has(span.deleted.start) {
  border-right: 2px solid var(--deleted-clr);
}
#text > span:has(span.deleted.end) {
  border-left: 2px solid var(--deleted-clr);
}

#text > span:has(span.unclear) {
  color: var(--unclear-clr);
}

#text > span:has(span.repeated) {
  background-color: var(--repeated-clr);
  text-decoration: var(--repeated-text-decoration);
}

#text > span:has(span.gap) {
  text-decoration: var(--gap-text-decoration);
}

#text > span:has(span.additionLaterHand) {
  background-color: var(--additionLaterHand-color);
}

#text > span:has(span.head) {
  font-weight: var(--head-font-weight);
}

#text > span:has(span.commentInternal) {
  background-color: var(--commentInternal-color);
  opacity: var(--commentInternal-opacity);
}

#text > span:has(span.line.end)::after {
  /* Disable stylings from span element... */
  background-color: white;
  color: black;
  font-weight: normal;
  opacity: 1;
  /* Space, curved arrow, newline */
  content: '\20 \2936 \A';
  white-space: pre;
  user-select: none;
}

#text > span:has(span.entity.person) {
  text-decoration: underline;
  text-decoration-color: hsl(358, 83%, 68%);
  text-decoration-thickness: 2px;
}

#text > span:has(span.entity.place) {
  text-decoration: underline;
  text-decoration-color: hsl(212, 93%, 54%);
  text-decoration-thickness: 2px;
}

#text > span:has(span.entity.concept) {
  text-decoration: underline;
  text-decoration-color: hsl(45, 90%, 60%);
  text-decoration-thickness: 2px;
}

#text > span:has(span.entity.event) {
  text-decoration: underline;
  text-decoration-color: hsl(134, 61%, 41%);
  text-decoration-thickness: 2px;
}

#text > span:has(span.entity.imagery) {
  text-decoration: underline;
  text-decoration-color: hsl(296, 72%, 66%);
  text-decoration-thickness: 2px;
}

#text > span:has(span.entity.reference) {
  text-decoration: underline;
  text-decoration-color: hsl(17, 22%, 50%);
  text-decoration-thickness: 2px;
}

#text > span:has(span.sic) {
  color: var(--sic-clr);
}

/* -------- ICONS ------------------------------------------------------------------------------------------------------------ */

.annotation-type-icon-entity {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/entity.svg');
}

.annotation-type-icon-emphasised {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/emphasised.svg');
}

.annotation-type-icon-expansion {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/expansion.svg');
}

.annotation-type-icon-nonLinear {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/nonLinear.svg');
}

.annotation-type-icon-intervention {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/intervention.svg');
}

.annotation-type-icon-correction {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/correction.svg');
}

.annotation-type-icon-deleted {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/deleted.svg');
}

.annotation-type-icon-unclear {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/unclear.svg');
}

.annotation-type-icon-repeated {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/repeated.svg');
}

.annotation-type-icon-gap {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/gap.svg');
}

.annotation-type-icon-additionLaterHand {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/additionLaterHand.svg');
}

.annotation-type-icon-head {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/head.svg');
}

.annotation-type-icon-line {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/line.svg');
}

.annotation-type-icon-transposition {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/transposition.svg');
}

.annotation-type-icon-commentInternal {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/commentInternal.svg');
}

.annotation-type-icon-sic {
  background-image: url('https://raw.githubusercontent.com/THM-Graphs/atag-editor/refs/heads/main/client/public/icons/sic.svg');
}

/* -------- TODO: Paragraph annotations, remove in the since not customizable...? ---------------------------------------- */

#text > span:has(span.paragraph.end)::after {
  /* This disables inherited styling from span element, must be set at first! */
  all: initial;
  content: ' ';
  width: 100%;
  height: 1.5rem;
  /* background-color: rgb(231, 231, 231); */
  display: block;
  white-space: pre;
  user-select: none;
}

#text > span:has(span.transposition) {
  background-color: var(--transposition-clr);
}
