:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --z-index-overlay: 100;
  --z-index-gutter: 200;
  --z-index-edit-pane: 1000;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

kbd {
  background-color: inherit;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgb(0 0 0 / 0.2),
    0 2px 0 0 rgb(255 255 255 / 0.7) inset;
  color: inherit;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
}
